/******************************************************************************
 * WATS1010: Introduction to Web Development
 * Embedded Media Assignment
 *
 * Site Styles
 *****************************************************************************/
aside#social {
    background: azure;
    width: 200px;
    height: auto;
    position: sticky;
    top: 50px;
    right: 20px;
    cursor:pointer;
}

ul.social-links {
    display:none;
}

aside#social:hover ul.social-links {
    display: block;
}
asider#social
 html {
     color: black;
     margin: 0;
     padding: 0;
 }

header {
    height: 400px;
    background: url(../img/monkaa_monkeyhang.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;   
}

h1 {
    background: rgba(255,255,255,0.6);
    padding: 5px;
    text-align: center;
    font-family: garamond;
    font-size:7rem;
    text-transform: uppercase;
    color: azure;
}

h2 {
    font-size: 2rem;
    font-family: garamond;
    text-transform: capitalize;
    text-align: left;
}

p.subtitle {
    text-align: center;
}

ul.main-nav {
    list-style-type: none;
    text-align: center;
}

p.lead {
    font-size: 2rem;
    font-family: garamond;
}

ul.weybec-people {
    list-style-type: none;
}

img.headshot {
    width: 175px;
    height: auto;
}

footer {
    background: grey;
}

section {
    padding-top: 50px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right:10px;
}
section#watch {
    background: yellow;
}

section#about {
    background: purple;
}

section#listen {
    background: grey;
}

section#share {
    background: green;
}