/******************************************************************************
 * WATS1010: Introduction to Web Development
 * Embedded Media Assignment
 *
 * Site Styles
 *****************************************************************************/

 html {
     color: black;
     margin: 0;
     padding: 0;
 }

header {
    height: 300px;
    background: url(../img/monkaa_monkeyhang.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;   
}

h1 {
    background: rgba(255,255,255,0.6);
    padding: 5px;
    text-align: right;
    font-family: garamond;
    font-size:7rem;
}

p.subtitle {
    text-align: right;
}

footer {
    background: grey;
}

section {
    padding-top: 50px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right:10px;
}
section#watch {
    background: yellow;
}

section#about {
    background: purple;
}

section#listen {
    background: grey;
}

section#share {
    background: green;
}